body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:30px;
  text-align:left;
}
#u7802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:160px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:30px;
  text-align:left;
}
#u7802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 24px;
  box-sizing:border-box;
  width:100%;
}
#u7802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7803 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:1921px;
  height:50px;
}
#u7804 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  display:flex;
  transition:none;
}
#u7804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u7804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7805 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:200px;
  height:50px;
  display:flex;
  transition:none;
  text-align:left;
}
#u7805 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u7805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u7805_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7806 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:0px;
  width:200px;
  height:50px;
  display:flex;
  transition:none;
  text-align:left;
}
#u7806 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u7806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u7806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7807 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:0px;
  width:1471px;
  height:50px;
  display:flex;
  transition:none;
  text-align:left;
}
#u7807 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u7807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:50px;
}
#u7807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u7809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#555555;
  text-align:left;
}
.u7809 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:0px;
  width:200px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#555555;
  text-align:left;
}
.u7809 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
.u7809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u7810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:50px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#555555;
  text-align:left;
}
.u7810 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:0px;
  width:1471px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#555555;
  text-align:left;
}
.u7810 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
.u7810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u7811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#555555;
  text-align:left;
}
.u7811 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:0px;
  width:200px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#555555;
  text-align:left;
}
.u7811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
.u7811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u7812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#555555;
}
.u7812 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:50px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#555555;
}
.u7812 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
.u7812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7808 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:1920px;
  height:500px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
}
